h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  min-width: 320px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 120%;
  color: #FFFFFF;
  background-color: #0E1645;
}

.header__content {
  min-height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  padding: 0 12px;
}

@media (min-width: 768px) {
  .header__container {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .header__content {
    min-height: 143px;
  }
  .header__container {
    padding: 0 36px;
  }
}
.logo__link {
  display: inline-block;
  margin: 10px 0 0 0;
}
.logo__link-img {
  width: 85px;
  height: 85px;
}

@media (min-width: 768px) {
  .logo__link-img {
    width: 118px;
    height: 119px;
  }
}
@media (min-width: 1440px) {
  .logo__link {
    margin: 0 0 0 9px;
  }
  .logo__link-img {
    width: 85px;
    height: 85px;
  }
}
.menu__btn {
  width: 42px;
  height: 22px;
  background: url(../img/icons/burger_menu.png) no-repeat center;
  margin: 0 15px 0 0;
}
.menu__list {
  display: none;
}

@media (min-width: 768px) {
  .menu__btn {
    width: 58px;
  }
}
@media (min-width: 1440px) {
  .menu__btn {
    display: none;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 790px;
    font-size: 18px;
    line-height: 122%;
  }
  .menu__link {
    padding: 0 0 4px 0;
  }
  .menu__link:hover {
    border-bottom: 1px solid #FFF7D1;
  }
}
.bonus {
  background-image: url(../img/content/bonus_bg_414.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 845px;
  position: relative;
}
.bonus__container {
  padding: 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bonus__content {
  text-align: center;
}
.bonus__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 120%;
  margin: 0 0 22px 0;
}
.bonus__text {
  font-size: 18px;
  line-height: 122%;
  margin: 0 0 22px 0;
}
.bonus__btn {
  padding: 21px 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  background-color: #613DA2;
  border-radius: 16px;
  margin: 0 0 45px 0;
  cursor: pointer;
}
.bonus__btn:hover {
  background-color: #4D2E84;
}
.bonus__example-img {
  width: 309px;
  height: 359px;
}
.bonus__btn-scroll {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #613DA2;
  background-image: url(../img/icons/navigation_arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  bottom: -25px;
  cursor: pointer;
}
.bonus__btn-scroll:hover {
  background-color: #4D2E84;
}

@media (min-width: 768px) {
  .bonus {
    background-image: url(../img/content/bonus_bg_768.png);
    min-height: 972px;
  }
  .bonus__container {
    padding: 0 45px;
  }
  .bonus__title {
    padding: 78px 0 0 0;
    font-size: 60px;
    line-height: 122%;
    margin: 0 0 28px 0;
    text-align: left;
  }
  .bonus__text {
    font-size: 25px;
    line-height: 120%;
    margin: 0 0 51px 0;
    text-align: left;
  }
  .bonus__btn {
    padding: 26px 45px;
    font-size: 25px;
    margin: 0 0 50px 0;
  }
  .bonus__example-img {
    width: 392px;
    height: 470px;
  }
  .bonus__btn-scroll {
    width: 73px;
    height: 73px;
    background-image: url(../img/icons/navigation_arrow_768.png);
    background-repeat: no-repeat;
    background-position: center center;
    bottom: -36px;
  }
}
@media (min-width: 1440px) {
  .bonus {
    background-image: url(../img/content/bonus_bg_1440.png);
    min-height: 650px;
  }
  .bonus__container {
    padding: 0 122px 0 139px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bonus__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bonus__title {
    padding: 102px 0 0 0;
  }
  .bonus__btn {
    margin: 0;
  }
  .bonus__example {
    padding: 16px 0 0 0;
  }
  .bonus__example-img {
    width: 476px;
    height: 569px;
  }
  .bonus__btn-scroll {
    bottom: -36px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
.service {
  background-color: #ffffff;
}
.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 122%;
  color: #613DA2;
  padding: 80px 0 70px 0;
}
.service__content {
  background-color: #0E1645;
  border-radius: 13px;
  padding: 38px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__text {
  font-size: 18px;
  line-height: 122%;
  margin: 0 0 20px 0;
}
.service__text_weight {
  font-weight: 700;
}
.service__text:last-child {
  margin: 0;
}

@media (min-width: 500px) {
  .service__text br {
    display: none;
  }
}
@media (min-width: 768px) {
  .service__container {
    padding: 0 46px;
  }
  .service__title {
    font-size: 40px;
    padding: 152px 0 70px 0;
  }
  .service__content {
    padding: 50px;
    border-radius: 36px;
  }
  .service__text {
    font-size: 20px;
    line-height: 120%;
    margin: 0 0 25px 0;
  }
}
@media (min-width: 1140px) {
  .service__container {
    padding: 0 140px;
  }
  .service__title {
    padding: 81px 0 69px 0;
  }
  .service__content {
    padding: 119px 60px 119px 91px;
  }
  .service__text {
    font-size: 24px;
    margin: 0 0 30px 0;
  }
}
.advantage {
  background-color: #ffffff;
}
.advantage__container {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage__title {
  color: #613DA2;
  font-weight: 800;
  font-size: 35px;
  line-height: 122%;
  padding: 160px 0 70px 0;
}
.advantage__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage__sample {
  padding: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage__sample:last-child {
  padding: 0 0 80px 0;
}
.advantage__sample-photo {
  padding: 0 0 25px 0;
}
.advantage__sample-title {
  color: #0E1645;
  font-weight: bold;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  margin: 0 0 17px 0;
}
.advantage__sample-text {
  color: #0E1645;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
}

@media (min-width: 500px) {
  .advantage__sample-title br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantage__container {
    padding: 0 50px;
  }
  .advantage__title {
    font-size: 40px;
  }
  .advantage__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -38px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantage__sample {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 19px 45px 19px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .advantage__sample_1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .advantage__sample_2 {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .advantage__sample_4 {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .advantage__sample-title {
    max-width: 215px;
  }
  .advantage__sample-text {
    font-size: 20px;
    line-height: 120%;
  }
}
@media (min-width: 1024px) {
  .advantage__sample-title {
    max-width: initial;
  }
}
@media (min-width: 1440px) {
  .advantage__container {
    padding: 0 130px;
  }
  .advantage__content {
    margin: 0 -58px;
    padding: 0 0 29px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantage__sample {
    padding: 0 29px 34px 29px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
  .advantage__sample_1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .advantage__sample_3 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .advantage__sample:last-child {
    padding: 0 29px 34px 29px;
  }
  .advantage__sample-title {
    max-width: 210px;
  }
}
@media (min-width: 1980px) {
  .advantage__sample-title {
    max-width: initial;
  }
}
.instruction__container {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instruction__title {
  padding: 80px 0 70px 0;
  font-weight: 800;
  font-size: 35px;
  line-height: 122%;
}
.instruction__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instruction__text {
  padding: 0 25px 0 50px;
  margin: 0 0 40px 0;
  min-height: 396px;
  background-image: url(../img/icons/navigation_line.png);
  background-repeat: no-repeat;
  background-position: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.instruction__text-p {
  font-size: 18px;
  line-height: 122%;
}
.instruction__btn {
  padding: 21px 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  background-color: #613DA2;
  border-radius: 16px;
  margin: 0 0 60px 0;
  cursor: pointer;
}
.instruction__btn:hover {
  background-color: #4D2E84;
}
.instruction__photo {
  margin: 0 0 80px 0;
}

@media (min-width: 768px) {
  .instruction__container {
    padding: 0 119px;
  }
  .instruction__title {
    font-size: 40px;
  }
  .instruction__text {
    padding: 0 0 0 50px;
    margin: 0 0 35px 0;
    min-height: 381px;
    background-image: url(../img/icons/navigation_line_768.png);
    background-repeat: no-repeat;
    background-position: left;
  }
  .instruction__text-p {
    font-size: 20px;
    line-height: 120%;
  }
  .instruction__btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 76px 0;
    padding: 26px 45px;
    font-size: 25px;
  }
  .instruction__photo {
    margin: 0 0 50px 0;
  }
}
@media (min-width: 1440px) {
  .instruction__container {
    padding: 0 105px;
  }
  .instruction__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -56px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .instruction__content-flex {
    padding: 0 28px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .instruction__text {
    padding: 0 28px 0 50px;
    margin: 0;
    min-height: 426px;
    background-image: url(../img/icons/navigation_line_1440.png);
    background-repeat: no-repeat;
    background-position: left;
    max-width: 608px;
  }
  .instruction__text-p:last-child {
    padding-bottom: 40px;
  }
  .instruction__photo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
  }
  .instruction__btn {
    margin: 50px 0 80px 0;
  }
}
.clients {
  background: #ffffff;
}
.clients__container {
  padding: 0 0 70px 0;
}
.clients__title {
  padding: 80px 0 70px 0;
  font-weight: 800;
  font-size: 33px;
  line-height: 121%;
  color: #613DA2;
  text-align: center;
}
.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px 0;
}
.clients__logo-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 122%;
  color: #0E1645;
}
.clients__logo-picture {
  margin: auto;
}

@media (min-width: 768px) {
  .clients__container {
    padding: 0 54px 53px 54px;
  }
  .clients__title {
    font-size: 40px;
    line-height: 122%;
  }
  .clients__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin: 0 0 27px 0;
  }
  .clients__logo-4 {
    -webkit-box-ordinal-group: -4;
        -ms-flex-order: -5;
            order: -5;
  }
  .clients__logo-3 {
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
  }
  .clients__logo-2 {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .clients__logo-5 {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .clients__logo-title {
    font-size: 16px;
    line-height: 125%;
  }
}
@media (min-width: 1440px) {
  .clients__container {
    padding: 0 120px 30px 120px;
  }
  .clients__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    margin: 0 0 50px 0;
  }
  .clients__logo-1 {
    -webkit-box-ordinal-group: -4;
        -ms-flex-order: -5;
            order: -5;
  }
  .clients__logo-4 {
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
  }
  .clients__logo-3 {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .clients__logo-2 {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .clients__logo-title {
    font-size: 26px;
    line-height: 123%;
  }
}
.statistics {
  background-color: #0E1645;
}
.statistics__title {
  padding: 80px 0 70px 0;
  font-weight: 800;
  font-size: 35px;
  text-align: center;
}
.statistics__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 77px;
}
.statistics__card {
  margin: 0 0 40px 0;
}
.statistics__card-content {
  background-color: #ffffff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 260px;
  min-width: 260px;
  padding: 0 6px;
}
.statistics__card:last-child {
  margin: 0 0 45px 0;
}
.statistics__card-title {
  line-height: 122%;
  font-weight: bold;
  color: #613DA2;
}
.statistics__card-title-1 {
  font-size: 93px;
}
.statistics__card-title-2 {
  font-size: 80px;
}
.statistics__card-title-3 {
  font-size: 55px;
}
.statistics__card-title--weight {
  font-weight: 900;
  font-size: 43px;
}
.statistics__card-text {
  font-size: 20px;
  line-height: 120%;
  color: #0E1645;
}
.statistics__card-text--plus {
  display: none;
}
.statistics__img {
  width: 100%;
  height: auto;
  border-radius: 13px;
}

@media (min-width: 520px) {
  .statistics__card {
    padding: 0 35px;
  }
}
@media (min-width: 768px) {
  .statistics__title {
    padding: 80px 0 122px 0;
    font-size: 40px;
    line-height: 122%;
  }
  .statistics__cards {
    padding: 0 84px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .statistics__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  .statistics__card-content {
    padding: 0;
  }
  .statistics__card:last-child {
    margin: 0 0 50px 0;
  }
  .statistics__card-title-1 {
    font-size: 80px;
  }
  .statistics__card-title-3 {
    font-size: 60px;
  }
  .statistics__card-text {
    text-align: left;
    padding: 0 18px;
  }
  .statistics__card-text--plus {
    display: initial;
  }
  .statistics__img {
    border-radius: 17px;
  }
}
@media (min-width: 1440px) {
  .statistics__container {
    padding: 0;
  }
  .statistics__title {
    padding: 80px 0 70px 0;
  }
  .statistics__content {
    display: grid;
    grid-template-columns: 53% 47%;
  }
  .statistics__cards {
    padding: 50px 30px 40px 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .statistics__card:last-child {
    margin: 0;
  }
  .statistics__card:last-child .statistics__card-content {
    min-height: 202px;
  }
  .statistics__photo {
    margin: 0 0 0 50px;
  }
  .statistics__img {
    border-radius: 20px;
  }
}
.case {
  background: #0E1645;
}
.case__container {
  padding: 160px 0 80px 16px;
}
.case__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 122%;
  padding: 0 16px 12px 0;
  text-align: center;
}
.case__subtitle {
  padding: 0 16px 0 0;
  font-size: 22px;
  line-height: 122%;
  text-align: center;
}
.case__content {
  padding: 65px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.case__item-1 {
  margin: 0 0 62px 0;
}
.case__item-2 {
  margin: 0 0 40px 0;
}
.case__item-3 {
  margin: 0 0 40px 0;
}
.case__item-4 {
  margin: 0 0 50px 0;
}
.case__item-5 {
  -ms-flex-item-align: center;
      align-self: center;
}
.case__item-title {
  padding: 0 0 0 23px;
  margin: 0 0 20px 0;
  background-image: url(../img/icons/dot_list.png);
  background-repeat: no-repeat;
  background-position: 0 20%;
  font-weight: 800;
  font-size: 18px;
  line-height: 122%;
}
.case__item-text {
  padding: 0 23px 0 0;
  font-size: 18px;
  line-height: 122%;
}
.case__item-text--weight {
  font-weight: 600;
}

@media (min-width: 500px) {
  .case__subtitle {
    padding: 0 40px;
  }

  .case__item-title {
    padding: 0 23px;
  }
  .case__item-title br {
    display: none;
  }
}
@media (min-width: 768px) {
  .case__container {
    padding: 160px 54px 80px 54px;
  }
  .case__title {
    font-size: 40px;
    padding: 0 0 17px 0;
  }
  .case__subtitle {
    padding: 0;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
  }
  .case__content {
    padding: 50px 0 0 0;
  }
  .case__item-1 {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin: 0 0 54px 0;
  }
  .case__item-2 {
    margin: 0 0 30px 0;
  }
  .case__item-3 {
    margin: 0 0 30px 0;
  }
  .case__item-4 {
    margin: 0;
  }
  .case__item-5 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 0 130px 0;
  }
  .case__item-title {
    padding: 0 83px 0 23px;
    font-size: 20px;
    line-height: 120%;
  }
  .case__item-text {
    padding: 0 28px 0 0;
    font-size: 20px;
    line-height: 120%;
  }
}
@media (min-width: 1440px) {
  .case__container {
    padding: 160px 140px 80px 140px;
  }
  .case__content {
    margin: 0 -25px;
    padding: 70px 0 0 0;
    display: grid;
    grid-template-columns: 47% 53%;
  }
  .case__item {
    margin: 0 25px 30px 25px;
  }
  .case__item-4 {
    margin: 0 25px;
  }
  .case__item-5 {
    margin: 0 25px;
    grid-area: 2/1/4/1;
    justify-self: center;
  }
  .case__item-title {
    padding: 0 23px;
  }
  .case__item-text {
    padding: 0;
  }
}
.technology {
  background: #ffffff;
}
.technology__container {
  padding: 80px 0 50px 0;
  overflow: hidden;
}
.technology__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 122%;
  color: #613DA2;
  text-align: center;
  padding: 0 0 70px 0;
}
.technology__title--hidden {
  display: none;
}
.technology__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.technology__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  margin: 0 -4px 30px -4px;
  min-height: 137px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.technology__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #0E1645;
  text-align: center;
}

@media (min-width: 768px) {
  .technology__container {
    padding: 80px 39px 80px 39px;
  }
  .technology__title {
    font-size: 40px;
    padding: 0 100px 70px 100px;
  }
  .technology__title--hidden {
    display: initial;
  }
  .technology__content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .technology__photo {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin: 0;
    min-height: 136px;
  }
  .technology__text {
    font-size: 16px;
    line-height: 125%;
  }
}
@media (min-width: 992px) {
  .technology__title {
    padding: 0 0 70px 0;
  }
}
@media (min-width: 1440px) {
  .technology__container {
    padding: 80px 89px 69px 89px;
  }
  .technology__title {
    padding: 0 0 86px 0;
  }
  .technology__photo {
    min-height: 219px;
  }
  .technology__text {
    font-size: 26px;
    line-height: 123%;
  }
}
.practice__container {
  padding: 81px 0 160px 0;
}
.practice__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 122%;
  color: #ffffff;
  text-align: center;
  padding: 0 0 70px 0;
}
.practice__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.practice__card {
  margin: 0 0 45px 0;
  padding: 0 30px;
  background-color: #ffffff;
  border-radius: 36px;
}
.practice__card:last-child {
  margin: 0;
}
.practice__card-title {
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
  color: #0E1645;
  text-align: center;
  padding: 40px 0 20px 0;
}
.practice__card-title br {
  display: none;
}
.practice__card-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 122%;
  color: #0E1645;
  padding: 0 0 50px 0;
}

@media (min-width: 500px) {
  .practice__container {
    padding: 81px 20px 160px 20px;
  }
}
@media (min-width: 768px) {
  .practice__container {
    padding: 80px 99px 160px 112px;
  }
  .practice__title {
    font-weight: 800;
    font-size: 40px;
  }
  .practice__card {
    margin: 0 0 40px 0;
    padding: 0 40px 0 60px;
  }
  .practice__card:last-child {
    margin: 0;
  }
  .practice__card-title {
    font-size: 32px;
    padding: 57px 0 30px 0;
  }
  .practice__card-title br {
    display: initial;
  }
  .practice__card-text {
    font-size: 20px;
    line-height: 120%;
    padding: 0 0 56px 0;
  }
}
@media (min-width: 895px) {
  .practice__card-title br {
    display: none;
  }
}
@media (min-width: 1440px) {
  .practice__container {
    padding: 82px 140px 160px 140px;
  }
  .practice__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .practice__card {
    margin: 0 52px 0 0;
    padding: 0 40px 0 60px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    min-height: 379px;
  }
  .practice__card:last-child {
    margin: 0;
  }
  .practice__card-title br {
    display: initial;
  }
}
@media (min-width: 1700px) {
  .practice__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .practice__card-title br {
    display: none;
  }
}
.company__container {
  padding: 0 13px 160px 13px;
}
.company__title {
  padding: 0 0 70px 0;
  font-weight: 800;
  font-size: 35px;
  line-height: 122%;
  text-align: center;
}
.company__content {
  padding: 38px 41px 49px 41px;
  margin: 0 12px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}
.company__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 35px 0;
}
.company__content-text {
  font-size: 18px;
  line-height: 122%;
  margin: 0 0 20px 0;
}
.company__content-text:last-child {
  margin: 0;
}
.company__content-text--plus {
  display: none;
}
.company__content-text--weight {
  font-weight: 600;
}

@media (min-width: 768px) {
  .company__container {
    padding: 0 93px 160px 93px;
  }
  .company__title {
    font-size: 40px;
  }
  .company__title--plus {
    display: none;
  }
  .company__content {
    padding: 50px 35px 55px 35px;
    margin: 0;
  }
  .company__content-text {
    font-size: 20px;
    line-height: 120%;
  }
  .company__content-text--plus {
    display: initial;
  }
  .company__content-text--minus {
    display: none;
  }
}
@media (min-width: 1440px) {
  .company__container {
    padding: 0 189px 126px 189px;
  }
  .company__content {
    padding: 64px 0 70px 0px;
  }
  .company__content-info {
    padding: 0 108px 0 108px;
  }
  .company__content-text {
    font-size: 24px;
  }
}
.platform {
  background-image: url(../img/content/footer_bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.platform__container {
  padding: 0 0 169px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.platform__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 122%;
  text-align: center;
  padding: 0 20px 70px 20px;
}
.platform__title-plus {
  display: none;
}
.platform__card {
  padding: 42px 25px 84px 25px;
  margin: 0 0 50px 0;
  background-color: #ffffff;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.platform__card-title {
  padding: 0 0 31px 0;
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
  color: #0E1645;
}
.platform__card-text {
  font-size: 18px;
  line-height: 132%;
  color: #0E1645;
}
.platform__card-btn {
  padding: 21px 35px;
  background-color: #613DA2;
  border-radius: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  cursor: pointer;
}
.platform__card-btn:hover {
  background-color: #4D2E84;
}
.platform__btn {
  padding: 32px 29px;
  background-color: #613DA2;
  border-radius: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  cursor: pointer;
}
.platform__btn:hover {
  background-color: #4D2E84;
}

.footer {
  display: none;
}

@media (min-width: 768px) {
  .platform {
    background-image: url(../img/content/footer_bg_768.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .platform__container {
    padding: 0 0 160px 0;
  }
  .platform__title {
    font-size: 40px;
    text-align: center;
    padding: 0 0 70px 0;
    max-width: 524px;
  }
  .platform__title-plus {
    display: initial;
  }
  .platform__card {
    padding: 52px 56px 64px 56px;
    margin: 0 0 60px 0;
  }
  .platform__card-title {
    padding: 0 0 29px 0;
    font-size: 32px;
  }
  .platform__card-text {
    font-size: 20px;
  }
  .platform__card-btn {
    padding: 26px 44px;
    border-radius: 20px;
    font-size: 25px;
  }
  .platform__btn {
    padding: 26px 31px;
    font-size: 25px;
    line-height: 120%;
  }
}
@media (min-width: 992px) {
  .platform__container {
    padding: 0 50px 160px 50px;
  }
}
@media (min-width: 1440px) {
  .platform {
    background-image: url(../img/content/footer_bg_1440.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .platform__container {
    padding: 0 140px 130px 140px;
  }
  .platform__card {
    padding: 52px 350px 45px 70px;
    margin: 0 0 50px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 420px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .platform__card:nth-of-type(1) {
    background-image: url(../img/icons/rank_icon_1440.png);
    background-position: right 30%;
    background-repeat: no-repeat;
  }
  .platform__card:nth-of-type(2) {
    background-image: url(../img/icons/message_icon_1440.png);
    background-position: right 30%;
    background-repeat: no-repeat;
  }
  .platform__card:nth-of-type(3) {
    background-image: url(../img/icons/invite_icon_1440.png);
    background-position: right 30%;
    background-repeat: no-repeat;
  }
  .platform__card-title {
    padding: 0 0 25px 0;
  }
  .platform__card-icon {
    display: none;
  }
  .platform__card-btn {
    margin-top: auto;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 50px 36px 50px;
  }
  .footer__menu {
    position: relative;
  }
  .footer__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 790px;
    font-size: 18px;
    line-height: 122%;
    background-image: url(../img/content/footer_menu_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .footer__menu-item {
    font-size: 18px;
    line-height: 122%;
    z-index: 0;
  }
}